@font-face {
  font-family: "custom-font";
  src: url("../fonts/Jersey25-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chewy-Regular";
  src: url("../fonts/Chewy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Iceland-Regular";
  src: url("../fonts/Iceland-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Micro5-Regular";
  src: url("../fonts/Micro5-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
